<header class="member_header">
  <div class="page_change">
    <div class="admin_page">
      <%=link_to("管理者用ページ","/")%>
    </div>
    <div class="member_page">
      <%=link_to("○○さんのページ","/employee/index")%>
    </div>
  </div>
  <ul>
    <li><%=link_to("出退勤","/employee/work")%></li>
    <li><%=link_to("カレンダー","/employee/calender")%></li>
    <li><%=link_to("お知らせ","/employee/notice")%></li>
  </ul>
</header>
work