    <header class="admin_header">
      <div class="page_change">
        <div class="admin_page"><%=link_to('管理者用ページ','/')%></div>
        <div class="member_page"><%=link_to('従業員用ページ','/employee/index')%></div>
      </div>
        <ul>
          <li><%=link_to('ホーム','/')%></li>
          <li> <%=link_to('従業員一覧','/member')%></li>
          <li><%=link_to('勤怠管理','/member/management')%></li>
          <li> <%=link_to('申請承認','/')%></li>
          <li> <%=link_to('休暇','/')%></li>
          <li> <%=link_to('設定','/setting')%></li>
          <li> <%=link_to('ヘルプ','/help')%></li>
        </ul>
    </header>
<div class="form_container">
  <%= form_tag("/member/create") do %>
    名前<input type="text" name="name">
    電話番号<input type="text" name="phone">
    雇用形態<input type="text" name=employee_type>
    <input type="submit" value="投稿"> 
  <% end %>
</div>